body {
  margin: 0;
  background-color: var(--wm-bg-color-page);
  color: var(--wm-color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
